.alignCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.verticallyAlignCenter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* For Dashboard Changing content when selected from side menu without reloading */

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.displayInline {
    display: inline;
}

.targetDiv {
    min-height: 350px;
}

.today {
    display: none;
}

.yesterday{
    display: none;
}

#weeklyBillSplitTable {
    font-size: small;
}

td{
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 500px) {
    .today, .yesterday  {
        display:table-cell !important;
    }
}

.paymentTypeInWbs{
    font-size: small;
    border-style: solid;
    border-width: 0.5px;
    border-color: green;
    border-radius: 4px;
    padding: 2px;
}

.font-size-small{
    font-size: small;
}

.font-size-smaller{
    font-size: smaller;
}

/* For Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}